Options +MultiViews
Redirect /bugzilla/index.cgi https://github.com/ngircd/ngircd/issues
Redirect /bugzilla/enter_bug.cgi https://github.com/ngircd/ngircd/issues/new
Redirect /bugzilla/query.cgi https://github.com/ngircd/ngircd/issues
